<!--header style="background-image: url('/logos/logo-holsense.png')">
    <div class="container" ></div>
        <div class="intro-text">
            <div class="intro-lead-in"></div>
            <div class="intro-heading"></div>
        </div>
    </div>
</header-->

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">HolSense</h2>
                <h3 class="section-subheading text-muted">HolSense es un sistema capaz de proyectar imágenes en 3D, para presentar el contenido de una forma nunca antes vista en una sala de clases.<br>Además, para un aprendizaje aún más íntegro, se añadirá la posibilidad de interactuar con estas proyecciones, generando así una experiencia asombrosa, dinámica e interactiva para cualquier usuario.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/about/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Educación</h4>
                                <h4 class="subheading">El rol de la tecnología</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Hoy en día los estudiantes están inmersos en un mundo lleno de tecnlogía, y esto se nota claramente en las aulas cuando el celular es más importante que la misma clase. Así, vemos como la educación aún no logra aprovechar correctamente los recursos tecnológicos. </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Profesores</h4>
                                <h4 class="subheading">Apoyo en las salas de clases</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Por lo anterior HolSense presenta una nueva forma de presentar la clase en el aula, incorporando distintos elementos tecnológicos que hará que los estudiantes no tengan ganas de prestar atención a otra cosa. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Proyecciones 3D</h4>
                                <h4 class="subheading">Como si estuviesen frente a ti</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Podrás disfrutar de diversas proyecciones tridimensionales de una forma nunca antes vista en la sala en clases. Por ejemplo, podrás ver el corazón frente como si realmente estuviese frente a ti.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Interactividad</h4>
                                <h4 class="subheading">Como si lo estuvieses tocando</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Además de ver proyecciones tridimensionalmente, podrás disfrutarlas aún más con la interactividad permitida, que incluye moverlas y redimensionarlas a tu antojo, como si realmente las estuvieses toocando. </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/about/5.jpg" alt="">
                        </div>
                        <!--div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Se parte
                                    <br>de nuestra
                                    <br>historia!</h4>
                            </div>
                        </div-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>