<p id="notice"><%= notice %></p>
<!--header style="background-image: url('/creative.jpg')">
    <div class="container" ></div>
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Studio!</div>
            <div class="intro-heading">It's Nice To Meet You</div>
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header-->

<!--section id="services">
        <div class="container">
            
            <div class="row">
                
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading inicio">Bienvenido a HolSense</h1>
                    <h3 class="section-subheading text-muted inicio">Desarrollado por Kaivo</h3>
                    <a class="btn btn-xl" href="https://www.youtube.com/embed/HZP5LEdbDOA?rel=0&amp;autoplay=1" data-rel="lightcase"><i class="fa fa-play"></i>Ver el video</a>

                    <iframe src="http://www.youtube.com/embed/dP15zlyra3c?html5=1"></iframe>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Innovación</h4>
                    <p class="text-muted">Estamos  en la búsqueda constante de soluciones que generen un cambio real, concientes que en el mundo actual las soluciones convencionales ya están obsoletas.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Compromiso</h4>
                    <p class="text-muted">Tomamos con responsabilidad el trabajo que se hace con la comunidad, por lo que estaremos siempre apoyando los cambios que involucren nuestras soluciones innovadoras.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desafíos</h4>
                    <p class="text-muted">Estamos dispuestos a asumir las complejidades en el desarrollo y posterior implementación de una solución, con la fuerte convicción de lograr los objetivos propuestos</p>
                </div>
            </div>
        </div>
    </section-->



<section id="services">
        <div class="container">
            <div class="fullscreen-bg">
                <%= video_tag "opcion_4.ogv", autoplay: :autoplay, loop: :loop, mute: :mute, class: "fullscreen-bg__video" %>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading inicio">Bienvenido a HolSense</h1>
                    <h3 class="section-subheading text-muted inicio">Desarrollado por Kaivo
                        <img src="/logos/logo-kaivo-nav.png" class="img-responsive center-block" alt="">
                    </h3>
                    <a href="#portfolioModal1" class="portfolio-link btn btn-xl" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                Ver video!
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal"  id="yt-player"data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body" id="yt-player">
                                <!-- Project Details Go Here >
                                <h2>Project Name</h2-->
                                <iframe id="video" src="https://www.youtube.com/embed/k9VV0L_2Fdw?rel=0&amp;autoplay=0" width="800" height="500" frameborder="0" style="width: 800px; height: 378px; max-width: 1300px; max-height: 378px;"></iframe>
                                <button id="boton_cerrar" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#portfolioModal1").on("hide",function(){
            var leg=$('#video').attr("src");
            $('#video').attr("src",leg);
        });

        $('#boton_cerrar,#yt-player').click(function(){
            $('#video').each(function(){
            var el_src = $(this).attr("src");
            $(this).attr("src",el_src);
            });
    });


    </script>
