<!--header style="background-image: url('/team/team.jpg')">
    <div class="container" ></div>
        <div class="intro-text">
            <div class="intro-lead-in"></div>
            <div class="intro-heading"></div>
        </div>
    </div>
</header-->

<section id="team" class="bg-light-gray">
    <div class="container">
        <!--div class="row">
            <div class="col-lg-4 text-center">
                <h2 class="section-heading">Misión</h2>
                <h3 class="section-subheading text-muted">Motivados por los cambios que produce la tecnología en la sociedad, Kaivo trabaja para construir cambios que incluyan está tecnología en nuestra vida diaria de forma innovadora. </h3>
            </div>
            <div class="col-lg-4 text-center">
                <img src="/logos/logo-kaivo-4.png" class="img-responsive center-block" alt="">
            </div>
            <div class="col-lg-4 text-center">
                <h2 class="section-heading">Visión</h2>
                <h3 class="section-subheading text-muted">Ser la empresa líder y pionera en soluciones holográficas, siempre innovando con las soluciones entregadas y la tecnología utilizada.</h3>
            </div>
        </div-->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="display: inline; vertical-align: middle;">Somos Kaivo</h2> 
                  <img src="/logos/logo-kaivo-4.png" class="img-responsive img-centered" style="width: 100px;display: inline-block;">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">        
                <h3 class="section-subheading"> Somos el equipo creador de HolSense, conformada por estudiantes de la Universidad Técnica Federico Santa María.            
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="/team/fefi.jpg" class="img-responsive img-circle" alt="">
                    <h4>Fernanda Weiss</h4>
                    <p class="text-muted">Jefa de equipo & Back-end </p>
                    <p class="equipo">Soy una persona responsable, estudiosa e interesada en el descubrimiento de nuevos conocimientos. Me gusta desarrollar sistemas que sean desafiantes e involucren nuevas tecnologías.</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/fefiweiss"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/fefi.weiss"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/fernanda-weiss/"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="/team/pancho.jpg" class="img-responsive img-circle" alt="">
                    <h4>Francisco Mena</h4>
                    <p class="text-muted">Marketing & Quality assurance</p>
                    <p class="equipo"> Soy una persona apasionada por la ciencia y que gusta de la aplicación de ésta a la práctica. Además de ser responsable, organizado y comprometido, me inquieta la adquisición de conocimientos.<p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/FMena14"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/panshodmc"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/francisco-alejandro-mena-toro-0260b2141/"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="/team/margarita.jpg" class="img-responsive img-circle" alt="">
                    <h4>Margarita Bugueño</h4>
                    <p class="text-muted">Finanzas & Front-end</p>
                    <p class="equipo"> Soy una persona altamente motivada y orientada a conseguir avances tecnológicos que generen los cambios e innovaciones necesarias para enfrentar las exigencias del mundo actual. </p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/Buguemar"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/margarita.bugueno.5"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/margarita-bugueño-pérez-3a4b1b125"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="/team/fabian.jpg" class="img-responsive img-circle" alt="">
                    <h4>Fabián Fernandez</h4>
                    <p class="text-muted">Recursos Humanos & Back-end</p>
                    <p class="equipo">Soy una persona proactiva y a la vanguardia de las nuevas tecnologías<p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/F4BI4NFF"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/fabian.fernandezfigueroa"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/fabi%C3%A1n-andr%C3%A9s-fern%C3%A1ndez-figueroa-514115141/"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">
                    <!-- text -->
                </p>
            </div>
        </div>
    </div>
</section>