<footer>
    <div class="container">
        <div class="row">
            <div id="foot" class="col-md-6">
                <ul class="list-inline social-buttons">
                    <table>
                        <tbody>
                          <tr>
                            <td><li><a href="www.facebook.com/kaivo"><i class="fa fa-facebook"></i></a></li></td>
                            <td><li>facebook.com/kaivo</li></td>
                          </tr>
                          <tr>
                            <td><li><a href="#"><i class="fa fa-envelope-o"></i></a></li></td>
                            <td><li>contactokaivo@gmail.com</li></td>
                          </tr>
                          <tr>
                            <td><li><a href="#"><i class="fa Example of map-marker fa-map-marker"></i> </a></li></td>
                            <td><li>Vicuña Mackenna 3939, San Joaquín</li></td>
                          </tr>
                          <tr>
                            <td><li><a href="#"><i class="fa fa-phone-square"></i></a></li></td>
                            <td><li>+56 9 7704 9800</li></td>
                          </tr>
                        </tbody>
                    </table>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-inline auspiciadores">
                    </li>
                    <li><a href="http://www.feriadesoftware.cl"><img class="img-responsive" src="/logos/logo-web-xxv.png"></a>
                    </li>
                </ul>
                <ul class="list-inline auspiciadores">
                    <li><a href="http://inf.utfsm.cl">
                    <img class="img-responsive" src="/logos/logo-di2.png">
                    </a>
                    </li>
                    <li><a href="http://www.piea.usm.cl"><img class="img-responsive" src="/logos/logo-piea.png"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <span class="copyright">Copyright &copy; Kaivo 2017</span>
        </div>
    </div>
</footer>