<footer>
    <div class="container">
        <div class="row">
            <div id="foot" class="col-md-6 text-center">
                <ul class="list-inline social-buttons">
                    <table>
                        <tbody>
                          <tr>
                            <td><li><a href="https://www.facebook.com/holsense"><i class="fa fa-facebook"></i></a></li></td>
                            <td><li><a href="https://www.instagram.com/hol.sense/"><i class="fa fa-instagram"></i></a></li></td>
                            <td><li><a href="mailto:contactokaivo@gmail.com"><i class="fa fa-envelope-o"></i></a></li></td>
                            <td><li><a href="https://www.google.cl/maps/place/Universidad+Técnica+Federico+Santa+María/@-33.4856387,-70.645914,13z"><i class="fa Example of map-marker fa-map-marker"></i></a></li></td>
                          </tr>
                          <!-- 
                          <tr>
                            <td><li>Vicuña Mackenna 3939, San Joaquín</li></td>
                          </tr>
                      -->
                          
                        </tbody>
                    </table>
                </ul>
                <!--ul class="list-inline social-buttons-asd">
                    <li><a href="www.facebook.com/holsense"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="www.facebook.com/holsense"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul-->
                <br><br>
                <div class="col-md-3">
                    <span class="copyright">&copy; Kaivo 2017</span>
                </div>
            </div>
            <!--div class="col-md-6">
                <ul class="list-inline auspiciadores">
                    </li>
                    <li><a href="http://www.feriadesoftware.cl"><img class="img-responsive" src="/logos/logo-web-xxv.png"></a>
                    </li>
                </ul>
                <ul class="list-inline auspiciadores">
                    <li><a href="http://inf.utfsm.cl">
                    <img class="img-responsive" src="/logos/logo-di2.png">
                    </a>
                    </li>
                    <li><a href="http://www.piea.usm.cl"><img class="img-responsive" src="/logos/logo-piea.png"></a>
                    </li>
                </ul>
            </div-->
            <div class="col-md-6" id="img_footer">
                <h5 style="text-align: left;">Auspiciado por:</h5>
                <ul class="list-inline auspiciadores">
                    <li><a href="http://www.feriadesoftware.cl"><img class="img-responsive img-centered" src="/logos/logo-fesw.png"></a>
                    </li>
                    <li><a href="http://inf.utfsm.cl">
                        <img class="img-responsive img-centered" src="/logos/inf.png">
                        </a>
                    </li>
                    <li><a href="http://www.piea.usm.cl"><img class="img-responsive img-centered" src="/logos/logo-piea.png"></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 
        <div class="row">
            <div class="col-md-3">
                <span class="copyright">&copy; Kaivo 2017</span>
            </div>
            <span class="copyright">&copy; Kaivo 2017</span>
        </div> -->

    </div>
</footer>