<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-brand page-scroll">
              <a href="#page-top">
                <div  class="logo-container">
                    <img src="/logos/logo-kaivo-nav.png" class="img-responsive center-block" alt="Kaivo">
                  <div class="navbar-text"> Kaivo</div>
                </div>
             <!-- <img class="img_footer" src="/logos/logo-kaivo.png">-->
              </a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li >
                    <%= link_to 'Inicio', pages_path, class: "scroll" %>
                </li>
                <li >
                    <%= link_to '¿Quienes somos?', us_path, class: "scroll" %>
                </li>
                <li >
                    <%= link_to 'HolSense', holsense_path, class: "scroll" %>
                </li>
                <li>
                    <%= link_to 'Contáctanos', new_contact_path, class: "scroll"%>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>